body {
  margin: 0;

  background: rgb(95,172,237);
  background: linear-gradient(90deg, rgba(95,172,237,1) 0%, rgba(123,228,22,1) 50%, rgba(95,172,237,1) 100%);

  display: grid;
  grid-template-columns: 1vw 98vw 1vw;
  grid-template-rows: 1vh 98vh 1vh;
}

.hide {
  display: none;
}

.main-section {
  grid-column: 2/3;
  grid-row: 2/3;

  margin: auto;

  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.begin-button {
  height: 4rem;
  width: 12rem;

  border: none;
  border-radius: 2em;
  text-decoration: none;

  font-size: 2.25rem;

  background-color: rgb(173, 232, 255);
}

.begin-button:hover {
  transition-duration: 0.35s;
  transform: scale(1.1);
  cursor: pointer;
}

.pet-selection {
  grid-column: 2/3;
  grid-row: 2/3;
  
  margin: auto;

  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.pet-selection-text {
  margin: 0 auto 0 auto;
}

.dog-button {
  margin: 1rem auto 1rem auto;

  width: 95%;
  height: 3rem;

  border: none;
  border-radius: 2em;
  text-decoration: none;

  background-color: rgb(248, 222, 180);

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.75rem;

  cursor: pointer;
}

.cat-button {
  margin: 1rem auto 1rem auto;

  width: 95%;
  height: 3rem;

  border: none;
  border-radius: 2em;
  text-decoration: none;

  background-color: rgb(255, 184, 53);

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.75rem;

  cursor: pointer;
}

.bunny-button {
  margin: 1rem auto 1rem auto;

  width: 95%;
  height: 3rem;

  border: none;
  border-radius: 2em;
  text-decoration: none;

  background-color: white;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.75rem;

  cursor: pointer;
}

.hamster-button {
  margin: 1rem auto 1rem auto;

  width: 95%;
  height: 3rem;

  border: none;
  border-radius: 2em;
  text-decoration: none;

  background-color: rgb(170, 108, 9);

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.75rem;

  cursor: pointer;
}

.parrot-button {
  margin: 1rem auto 1rem auto;

  width: 95%;
  height: 3rem;

  border: none;
  border-radius: 2em;
  text-decoration: none;

  background-color: rgb(255, 89, 89);

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.75rem;

  cursor: pointer;
}

.dog-option, .cat-option, .bunny-option, .hamster-option, .parrot-option {
  grid-row: 2;
  grid-column: 2;
  
  margin: auto;

  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.dog-calculator, .cat-calculator, .bunny-calculator, .hamster-calculator, .parrot-calculator {
  max-width: 16rem;
  margin: auto;
}

.dog-name, .cat-name, .bunny-name, .hamster-name, .parrot-name {
  margin: 1rem auto 1rem auto;

  grid-row: 2;
  grid-column: 2;

  border-radius: 2em;
  border: none;

  text-decoration: none;
  text-align: center;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;

  height: 3rem;
  width: 15rem;
}

.current-dog-age, .current-cat-age, .current-bunny-age, .current-hamster-age, .current-parrot-age {
  margin: 1rem auto 1rem auto;

  border-radius: 2em;
  border: none;

  text-decoration: none;
  text-align: center;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;

  height: 3rem;
  width: 11rem;
}

.dog-submit, .cat-submit, .bunny-submit, .hamster-submit, .parrot-submit {
  height: 3rem;
  width: 11rem;
  margin: auto;

  border: none;
  border-radius: 2em;
  font-weight: 600;

  font-size: 1rem;

  background-color: rgb(173, 232, 255);

  cursor: pointer;
}

.dog-choose-new, .cat-choose-new, .bunny-choose-new, .hamster-choose-new, .parrot-choose-new {
  height: 3rem;
  width: 11rem;
  margin: auto;

  border: none;
  border-radius: 2em;
  font-weight: 600;

  font-size: 1rem;

  background-color: rgb(255, 173, 173);

  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}